<ion-view view-title="NOW SCHEDULE">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <i class="icon ion-star"></i>
        <i class="icon ion-calendar"></i>
        <i class="icon ion-clock"></i>
        <i class="icon ion-clipboard"></i>
        <i class="icon ion-person"></i>
        <i class="icon ion-pricetags"></i>
        <i class="icon ion-plus-round"></i>
        <h2>Marty McFly</h2>
      </div>

      <div class="item item-body">
        <!-- <img class="full-image" src="delorean.jpg"> -->
        <p>
          {{nowMeet.date}}
          {{nowMeet.person}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
